<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>

<body>
    <div>
        <h1>Se connecter</h1>
    </div>
    <div>
        <div>
            <input type="Pseudo" required id="myInput" name="Pseudo">
        </div>
        <div>
            <input type="password" required id="myInput" name="Password">
        </div>
        <div>
            <button type="submit">--></button>
        </div>
    </div>
</body>

</html>